.home-page{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #121213, #3c2641, #812e56, #c43949, #eb6712);
    display: flex;
    flex-direction: row;
}

.content-left, .content-right {
    width: 50%;
    padding: 10px;
    text-align: start;
}

.heading {
    font-size: 5em;
    position: relative;
    top: 15%;
    left: 10%;
    margin-bottom: 5px;
    color: whitesmoke;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 75px;
}

.btn-explore {
    width: 100px;
    padding: 8px;
    height: 40px;
    top: 10%;
    background-color: black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    border: 1px solid black;
    background: linear-gradient(to left, black 50%, white 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.btn-explore:hover {
    color: black;
    border-color: black;
    box-shadow: 10px 5px 5px black;
    background-position: left;
}

.text {
    position: relative;
    top: 30%;
    left: 10%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;
}

.text-header,.text2-header{
    font-weight: bold;
    padding-bottom: 5px;
}

.text-para{
    padding-top: 5px;
    padding-bottom: 15px;
}

.btn-icon{
    position: relative;
    top: 25%;
    left: 10%;
    display: flex;
    flex-direction: row;
}

.icon-truck{
    padding-left: 20px;
}

.btn-explore:hover + div[class='icon-truck']:not(:hover){
    right: 0%;
    transform: translateX(15rem);
    transition: 1s ease-out;
    border-bottom: 1px solid black;
}